@{
    ViewBag.Title = "Get Link Download 320kbps Mp3 Zing";
    ViewBag.Description = "Get link download album, bài hát, video chất lượng 320kbps từ zing mp3 - 2016";
    ViewBag.Image = Request.Url.AbsoluteUri + "Content/images/get-link-320-mp3-zing.png";
}
@{
    AjaxOptions GetLinkOption = new AjaxOptions()
            {
                OnBegin = "ShowModal",
                OnComplete = "CloseModal",
                UpdateTargetId = "show-download",
                OnFailure = "FailureMessage",
                HttpMethod = "get"
            };
}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center pink-text accent-3">Download nhạc 320kbps Mp3 Zing</h1>
        <div class="row center">
            <h5 class="header col s12 light">Website giúp bạn có thể download được nhạc 320kbps của mp3 zing mà không cần có nick vip.</h5>
            <h5 class="header col s12 light">Lưu ý: Nên cài đặt IDM trước khi tải nhạc.</h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="row">
                    <div class="input-field col s12">
                        <div class="row">
                            @using (Ajax.BeginForm("GetLink", "Home", null, GetLinkOption, new { @class = "col s12", id = "formget" }))
                            {
                                <div class="row">
                                    <input type="text" id="url" name="url" class="validate">
                                    <label for="url">Chỉ cần copy link bài hát vào đây:</label>
                                </div>
                                <div class="row center">
                                    <button class="btn waves-effect waves-light light-blue lighten-1" type="submit" id="download">
                                        Download bài hát
                                        <i class="material-icons left">get_app</i>
                                    </button>
                                </div>

                                <div class="row">
                                    <p class="help-block"><strong>Ví dụ:</strong> http://mp3.zing.vn/bai-hat/Tam-Su-Voi-Nguoi-La-Tien-Cookie/ZW7O6UDW.html</p>
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div id="show-download">

                            </div>
                        </div>
                        <div class="row">
                            <h5 class="center">Nếu trình duyệt không tự động download bài hát, thì làm theo hướng dẫn như hình bên dưới:</h5>
                            <img src="~/Content/images/fix_download_mp3.png" alt="Fix download mp3" />
                            <br /><br />
                        </div>
                        <div class="row">
                            <div class="fb-comments" data-href="http://tainhac.devbrigde.com/" data-numposts="10" data-width="100%" data-order-by="reverse_time"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
<div id="loader" class="modal">
    <div class="modal-content">
        <h5 class="center">Đang tải! Vui lòng đợi...</h5>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>

<div id="errorModal" class="modal">
    <div class="modal-content">
        <h4>Thông báo</h4>
        <p>Có lỗi xảy ra! Bạn hãy kiểm tra lại URL hoặc thử lại sau!</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Đóng</a>
    </div>
</div>

<div id="contactmodal" class="modal">
    <div class="modal-content">
        <h4>Thông tin</h4>
        <p>Plugin đang trong quá trình phát triển! Nếu có lỗi vui lòng góp ý và đóng góp vào comment bên dưới!</p>
        <p>Hoặc Facebook: https://www.facebook.com/thuanbao1509</p>
        <p>Xin cảm ơn!</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Đóng</a>
    </div>
</div>
@*<div id="loader" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">Đang tải bài hát, vui lòng đợi</span>
                    </div>
                </div>
                <h4 class="text-center">Đang tải bài hát, vui lòng đợi</h4>
            </div>
        </div>
    </div>
</div>*@
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(document).ready(function () {
            $('form').on('paste', function () {
                setTimeout(function () {
                    $("#formget").submit();
                }, 10);
            });
            $('.contact').click(function () {
                ShowContact();
                return false;
            });
        });

        //function getlink() {
        //    var id = $("#txtlink").val();
        //    id = id.substring(id.lastIndexOf("/") + 1, id.indexOf(".html"));
        //    var myurl = 'http://api.mp3.zing.vn/api/mobile/song/getsonginfo?requestdata={"id":"' + id + '"}';
        //    $.getJSON(myurl + '&callback=?', function (data) {
        //        //alert(data.song_id);
        //        console.log(data);
        //    });

        //}

        function ShowModal() {
            $('#loader').openModal({
                dismissible: false
            });
        }

        function CloseModal() {
            $('#loader').closeModal();
        }
        function FailureMessage() {
            $('#errorModal').openModal();
        }
        function ShowContact() {
            $('#contactmodal').openModal();
        }

    </script>
}